@use '/src/styles/constants/colors';

.container {
  padding: 10px 0;

  .searchWrapper {
    display: flex;
    position: relative;
    height: 45px;
    margin: 20px 35px;
    background-color: colors.$BGDARK;
    border-radius: 15px;
    background-color: colors.$MINPUT;

    .searchIcon {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      fill: colors.$WHITE;
    }
    .searchInput {
      width: 250px;
      height: 45px;
      font-size: 30px;
      padding-left: 40px;
      color: colors.$MWHITE;
      font-size: 16px;
    }
    .closeIcon {
      position: absolute;
      width: 25px;
      height: 25px;
      right: 20px;
      top: 10px;
      fill: colors.$WHITE;
    }
    button {
      appearance: none;
    }
  }
}
