@use '/src/styles/constants/colors';
.title {
  color: colors.$GREEN;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}

.container {
  position: relative;
  height: 480px;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  .noMovie {
    position: absolute;
    top: 30%;
    left: 65px;
    color: colors.$GREEN;
    font-size: 20px;
    font-weight: 600;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 25px;
    color: colors.$WHITE;

    .movieImg {
      display: inline-block;
      flex: 0 0 60px;
      width: 65px;
      height: 100px;
    }

    .detail {
      display: inline-block;
      padding-top: 2px;
      padding-left: 7px;
      text-align: left;

      .movieTitle {
        color: colors.$WHITE;
        font-weight: 600;
      }

      .year {
        font-size: 12px;
      }

      .genre {
        margin-left: 10px;
        font-size: 15px;
      }
    }

    .starIcon {
      flex: 0 0 80px;
      width: 22px;
      height: 22px;
      margin-left: auto;
      padding-bottom: 5px;
    }
  }

  .submitBtn {
    &:hover {
      background-color: aquamarine;
    }
  }
}
