// Grayscale
$WHITE: #fbfbfb;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #1cd760;
$TEAL: #5ac8fa;
$BLUE: #2941ab;
$INDIGO: #5856d6;
$PURPLE: #816cff;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #0e0e0f;

$BGDARK: #0f0f19;
$BGLIGHT: #232430;

$MYELLOW: #b98907;
$MWHITE: #e9ecf6;
$MINPUT: #2a2b37;
$MGRAYTEXT: #686d7d;
