@use '/src/styles/constants/colors';

.navbar {
  position: sticky;
  bottom: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;

  .searchWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

    .searchIcon {
      margin-top: 10px;
      width: 35px;
      height: 35px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .starWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .starIcon {
      margin-top: 10px;
      width: 35px;
      height: 35px;
      color: black;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
