@use '/src/styles/constants/colors';

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-bottom: 20px;

  .searchWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

    .searchIcon {
      width: 35px;
      height: 35px;
      color: colors.$MGRAYTEXT;

      &:hover {
        color: colors.$MWHITE;
        cursor: pointer;
      }
    }
  }

  .starWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    .starIcon {
      width: 35px;
      height: 35px;
      color: colors.$MGRAYTEXT;
    }
    &:hover {
      color: colors.$MWHITE;
      cursor: pointer;
    }
  }
}
