@use '/src/styles/constants/colors';

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: colors.$MGRAYTEXT;

  .searchWrapper {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

    .searchIcon {
      width: 25px;
      height: 25px;
      &:hover {
        color: colors.$PURPLE;
        cursor: pointer;
      }
    }
  }

  .starWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .starIcon {
      width: 25px;
      height: 25px;

      &:hover {
        color: colors.$PURPLE;
        cursor: pointer;
      }
    }
  }
}

.selected {
  color: colors.$PURPLE;
}
