@use '/src/styles/constants/colors';

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 380px;
    height: 720px;
    padding: 35px 0;
    border-radius: 25px;
    background: rgb(15, 15, 25);
    background: linear-gradient(52deg, rgba(15, 15, 25, 1) 6%, rgba(35, 36, 48, 1) 87%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 0;
  }
}
